@import url('font/font.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TeXGyrePagella-Regular', serif;
    font-size: 16px;
    background: #fff;
}

footer {
    display: block;
    height: 4em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #341f97;
}

a:visited {
    color: #341f97;
}

#wrapper {
    width: 800px;
    margin: 2em auto;
    background: #fff;
}

#wrapper:after {
    content: '';
    display: table;
    clear: both;
}

header > .left {
    width: 70%;
    float: left;
    text-align: center;
    padding: 0 1em;
}

header > .right {
    width: 30%;
    float: right;
    text-align: center;
}

header:after {
    content: '';
    display: table;
    clear: both;
}

#content {
    margin: 2em auto;
}

header > .right > img {
    width: 60%;
    border-radius: 100%;
    margin: 1em auto;
}

header nav {
    display: table;
    margin: .5em auto;
}

header nav li {
    padding: 0 1em;
    display: inline-block;
    border-left: thin solid black;
}

header nav li:first-child {
    border: none;
}

header p.about {
    padding: 1em;
}

#logo {
    color: #000;
    font-size: 1.30em;
    font-weight: lighter;
}

#logo:hover {
    opacity: 0.6;
}

header nav li {
    float: left;
    padding-left: 1em;
}

header nav li a:hover {
    opacity: 0.6;
}


#content h1, h2, h3, h4 {
    font-weight: lighter;
}

#content p {
    margin: 1em 0;
    line-height: 1.8;
}

#research {
    margin: 1em 0;
    margin-left: 1.8em;
}

#research li {
    list-style: disc;
    margin-bottom: 0.5em;
}

#research li a:hover {
    opacity: 0.7;
}

#research li p.desc {
    color: #333;
    margin: 0;
    font-size: 0.98em;
}

#projects {
    margin: 1em 0;
    margin-left: 1.8em;
}

#projects li {
    list-style: disc;
    margin-bottom: 0.5em;
}

#projects li a:hover {
    opacity: 0.7;
}

#projects li p.desc {
    color: #333;
    margin: 0;
    font-size: 0.98em;
}
#projects {
    margin: 1em 0;
    margin-left: 1.8em;
}

#projects li {
    list-style: disc;
    margin-bottom: 0.5em;
}

#projects li a:hover {
    opacity: 0.7;
}

#projects li p.desc {
    color: #333;
    margin: 0;
    font-size: 0.98em;
}

#authors {
    margin: 1em 0;
    margin-left: 1.8em;
}

#authors li {
    list-style: disc;
    margin-bottom: 0.5em;
}

#authors li a:hover {
    opacity: 0.7;
}

#authors li p.desc {
    color: #333;
    margin: 0;
    font-size: 0.98em;
}
#authors {
    margin: 1em 0;
    margin-left: 1.8em;
}

#authors li {
    list-style: disc;
    margin-bottom: 0.5em;
}

#authors li a:hover {
    opacity: 0.7;
}

#authors li p.desc {
    color: #333;
    margin: 0;
    font-size: 0.98em;
}

pre[class^="language-"] {
    background: none !important;
    padding-left: 1em;
    margin-left: 1em;
    border-left: 2px solid #341f97;
}

code {
    font-family: 'Source Code Pro' !important;
    font-size: .8em;
}

#content {
    width: 90%;
    margin: 2em auto;
}
#content li {
    list-style: disc;
}

ul li:first-child {
    margin-top: 1em;
}

ul li:last-child {
    margin-bottom: 1em;
}
