@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

body, html {
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    text-align: center;
    overflow: hidden;
    font-family: 'Press Start 2P', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    width: 100%;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    transition: color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translate(-50%, 0);
    animation: fadeIn 1s ease; 
}

.header:hover {
    transform: translate(-50%, 0) scale(1.05);
}
.header img {
    width: 8em; /* Matches the text size */
    height: auto; /* Maintains aspect ratio */
    transition: transform 0.3s ease;
    vertical-align: middle; 
}

.header img:hover {
    transform: scale(1.05);
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.what-is {
    font-size: 1.2em; 
    position: absolute;
    top: calc(40% - 80px); 
    left: 50%;
    transform: translate(-50%, 0);
    transition: color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1s ease;
}

.what-is:hover {
    transform: translate(-50%, 0) scale(1.05);
}

#typingEffect {
    font-size: 1em;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1s ease;
}

#typingEffect:hover {
    transform: scale(1.025);
}

.contact {
    font-size: 1.2em;
    position: absolute;
    left: 30%;
    transform: translate(-50%, 0);
    transition: color 0.3s ease, transform 0.3s ease;
    display: none;
    animation: fadeIn 1s ease;
}

.contact:hover {
    transform: translate(-50%, 0) scale(1.1);
}

.team {
    font-size: 1.2em;
    position: absolute;
    left: 70%;
    transform: translate(-50%, 0);
    transition: color 0.3s ease, transform 0.3s ease;
    display: none;
    animation: fadeIn 1s ease;
}

.team:hover {
    transform: translate(-50%, 0) scale(1.1);
}

.contact {
    top: calc(50% + 80px);
}

.team {
    top: calc(50% + 80px);
}

.arrow {
    font-size: 1em;
    position: absolute;
    transition: color 0.3s ease, transform 0.3s ease;
    display: none;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
}

.contact-arrow {
    top: calc(50% + 110px);
    left: 30%;
    transform: translate(-50%, 0);
    display: none;
}

.team-arrow {
    top: calc(50% + 110px);
    left: 70%;
    transform: translate(-50%, 0);
    display: none;
}

.team-arrow:hover {
    transform: translate(-50%, 0) scale(1.1);
}

.contact-arrow:hover {
    transform: translate(-50%, 0) scale(1.1);
}

.email {
    font-size: 1em;
    position: absolute;
    top: calc(50% + 145px);
    left: 30%;
    transform: translate(-50%, 0);
    transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    display: none;
    animation: fadeIn 1s ease;
}

.email:hover {
    transform: translate(-50%, 0) scale(1.05);
}

.idkhidden {
    font-size: 1.2em; 
    position: absolute; 
    left: 70%; 
    transform: translate(-50%, 0);
    transition: color 0.3s ease, transform 0.3s ease;
    display: none; 
    animation: fadeIn 1s ease; 
    top: calc(50% + 145px); 
}

.idkhidden:hover {
    transform: translate(-50%, 0) scale(1.05);
}

.idkhidden a {
    color: white; 
    text-decoration: none; 
}

.footer {
    position: absolute;
    bottom: 6px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    transition: color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1s ease;
}

.footer:hover {
    transform: scale(1.05);
}

.footer a {
    color: white; 
    text-decoration: none; 
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@media (max-width: 768px) {
    .what-is {
        font-size: 0.3em;
    }

    .contact {
        font-size: 0.3em;
        left: 30%;
        transform: translate(-50%, 0);
    }

    .team {
        font-size: 0.3em;
        left: 70%; 
        transform: translate(-50%, 0);
    }

    .idkhidden {
        font-size: 6.6px;
    }

    .contact-arrow {
        font-size: 0.1em;
        left: 30%;
        transform: translate(-50%, 0);
    }

    .team-arrow {
        font-size: 0.1em;
        left: 70%; 
        transform: translate(-50%, 0); 
    }
    
    .header img {
        font-size: 0.3em;
    }

    #typingEffect {
        font-size: 0.3em;
    }

    .email {
        font-size: 7px;
    }

    .footer {
        font-size: 7px;
    }
}



